node_modules/
apps/*/node_modules/
dist/
.next/
.env
.env.local
apps/*/.env
apps/*/.env.local
.idea/
.DS_Store
.vercel
apps/web/.contentlayer/
apps/web/vendor/gsap-bonus/
apps/web/vendor/gsap-public.zip
apps/web/vendor/nucleo-icons/
apps/web/vendor/nucleo-icons.zip
apps/web/vendor/nucleo-ui/
apps/web/vendor/nucleo-ui.zip

.databricks
.venv/
